arm_group:
  kinematics_solver: kdl_kinematics_plugin/KDLKinematicsPlugin
  kinematics_solver_search_resolution: 0.005
  kinematics_solver_timeout: 0.1
  kinematics_solver_attempts: 5
# gripper_group does not need a kinematics solver as it's not a kinematic chain
# It only contains two independent joints (JointGL and JointGR)